
.slider {
  position: relative;
  overflow: hidden;
}

.images {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  transition: left 0.5s;
}

.image {
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
  display: block;
}
